language: php

php:
  - 5.6
  - 7.0

matrix:
  allow_failures:
    - php: 7.0

sudo: false

services:
  - mysql

before_install:
  - echo 'sendmail_path = /bin/true' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - phpenv config-rm xdebug.ini
  - composer --verbose self-update
  - composer --version
  - mysql -e "create database IF NOT EXISTS test;" -uroot
  - wget http://drupalnorge-social-old.e-o.no/sanitized.sql

install:
  - composer --verbose install
  - cd $TRAVIS_BUILD_DIR/html
  - chmod -R 777 sites/default
  - touch sites/default/settings.local.php
  - ./../vendor/bin/drush site-install social --verbose --yes --db-url=mysql://root@127.0.0.1/test
  - ./../vendor/bin/drush sql-cli < ../sanitized.sql
  - ./../vendor/bin/drush cim --verbose --yes
  - ./../vendor/bin/drush updb --verbose --yes
  - ./../vendor/bin/drush cr
  - ./../vendor/bin/drush runserver http://127.0.0.1:8888 &
  - sleep 3
  - cd $TRAVIS_BUILD_DIR

script:
  - composer test
