default:
  autoload:
    - './html/profiles/contrib/social/tests/behat/features/bootstrap'
    - './tests/src/Context'
  suites:
    default:
      paths:
        features: '%paths.base%/tests/features'
        bootstrap: '%paths.base%/html/profiles/contrib/social/tests/behat/features/bootstrap'
      filters:
        tags: "~@todo"
      contexts:
        - Drupal\social\Behat\EmailContext
        - Drupal\social\Behat\FeatureContext
        - Drupal\social\Behat\PostContext
        - Drupal\social\Behat\SocialDrupalContext
        - Drupal\social\Behat\SocialMinkContext
        - Drupal\DrupalExtension\Context\BatchContext
        - Drupal\DrupalExtension\Context\ConfigContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\MarkupContext
        - Drupal\DrupalExtension\Context\DrushContext
        - Behatch\Context\BrowserContext
        - DrupalNorge\DrupalNorgeSocial\Tests\Context\DrupalNorgeContext
  extensions:
    Bex\Behat\ScreenshotExtension:
      image_drivers:
        local:
          screenshot_directory: "%paths.base%/screenshots"
    Behat\MinkExtension:
      base_url: http://web
      files_path: '%paths.base%/tests/files'
      goutte: ~
      selenium2:
        wd_host: http://chromedriver:8643/wd/hub
        capabilities:
          extra_capabilities:
            goog:chromeOptions:
              w3c: false
          marionette: null
          chrome:
            switches:
              - "--headless"
              - "--disable-gpu"
              - "--no-sandbox"
              - "--disable-dev-shm-usage"
    Drupal\DrupalExtension:
      drush:
        root: ./html
      blackbox: ~
      drupal:
        drupal_root: "%paths.base%/html"
      api_driver: 'drupal'
      text:
        username_field: "name_or_mail"
        password_field: "edit-pass"
        log_in: "edit-submit"
      region_map:
        mentions: "#social-post-entity-form"
