default:
  autoload:
    - './html/profiles/contrib/social/tests/behat/features/bootstrap'
    - './tests/src/Context'
  suites:
    default:
      paths:
        features: %paths.base%/tests/features
      filters:
        tags: "~@todo"
      contexts:
        - FeatureContext
        - DrupalNorge\DrupalNorgeSocial\Tests\Context\DrupalNorgeContext
        - SocialMinkContexts
        - Drupal\DrupalExtension\Context\BatchContext
        - Drupal\DrupalExtension\Context\ConfigContext
        - Drupal\DrupalExtension\Context\MessageContext
        - PostContext
        - EmailContext
  extensions:
    Behat\MinkExtension:
      files_path: %paths.base%/tests/files
      base_url: http://127.0.0.1:8888
      selenium2:
        # This will probably be the same always, if you follow the guide for browsers below.
        wd_host: http://localhost:8643/wd/hub
        capabilities:
          chrome:
            switches:
              - "--headless"
              - "--disable-gpu"
              - "--no-sandbox"
      javascript_session: selenium2
      browser_name: chrome
      goutte: ~
    Drupal\DrupalExtension:
      blackbox: ~
      drupal:
        drupal_root: %paths.base%/html
      api_driver: 'drupal'
      text:
        username_field: "name_or_mail"
        password_field: "edit-pass"
        log_in: "edit-submit"
      region_map:
        mentions: "#social-post-entity-form"
